<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>jmmom</string>
	<key>DomainName</key>
	<string>http://www.jummum.co/app/PRD_JUMMUM_1.7.2/</string>
	<key>PingAddress</key>
	<string>www.google.com</string>
	<key>SubjectNoConnection</key>
	<string>No network connection</string>
	<key>DetailNoConnection</key>
	<string>The Internet connection appears to be offline</string>
	<key>BundleID</key>
	<string>com.JummumCo.Jummum</string>
</dict>
</plist>
